<a href="https://colab.research.google.com/github/nalinimohan/ADM-LAB/blob/main/ADM1_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
df=pd.read_csv('/content/titanic.csv')

In [6]:
df.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
df.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [8]:
df['Age'].mean()

29.69911764705882

In [9]:
df['Age'].median()

28.0

In [10]:
df['Age'].mode()

0    24.0
Name: Age, dtype: float64

In [11]:
df['Age'].fillna(df['Age'].mean())

0      22.000000
1      38.000000
2      26.000000
3      35.000000
4      35.000000
         ...
886    27.000000
887    19.000000
888    29.699118
889    26.000000
890    32.000000
Name: Age, Length: 891, dtype: float64

In [12]:
df['Age'].fillna(df['Age'].mean(),inplace=True)

<ipython-input-12-26113ea9078d>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(),inplace=True)

In [13]:
df['Age'].isna()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888    False
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [14]:
df.dropna(inplace=True)

In [15]:
df['Age'].max()

80.0

In [16]:
df['Age'].astype

<bound method NDFrame.astype of 1      38.0
3      35.0
6      54.0
10      4.0
11     58.0
       ...
871    47.0
872    33.0
879    56.0
887    19.0
889    26.0
Name: Age, Length: 202, dtype: float64>

In [17]:
df['Age']=(df['Age']- df['Age'].min())//(df['Age'].max() - df['Age'].min())

In [18]:
df['Age']

1      0.0
3      0.0
6      0.0
10     0.0
11     0.0
      ...
871    0.0
872    0.0
879    0.0
887    0.0
889    0.0
Name: Age, Length: 202, dtype: float64

In [19]:
df_scaled = df.copy()

numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
df_scaled[numeric_columns] = (df[numeric_columns] - df[numeric_columns].min()) / (df[numeric_columns].max() - df[numeric_columns].min())

print(df_scaled.head())

    PassengerId  Survived  Pclass  \
1      0.000000       1.0     0.0
3      0.002252       1.0     0.0
6      0.005631       0.0     0.0
10     0.010135       1.0     1.0
11     0.011261       1.0     0.0

                                                 Name     Sex  Age     SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  0.0  0.333333
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  0.0  0.333333
6                             McCarthy, Mr. Timothy J    male  0.0  0.000000
10                    Sandstrom, Miss. Marguerite Rut  female  0.0  0.333333
11                           Bonnell, Miss. Elizabeth  female  0.0  0.000000

    Parch    Ticket      Fare Cabin Embarked
1    0.00  PC 17599  0.139136   C85        C
3    0.00    113803  0.103644  C123        S
6    0.00     17463  0.101229   E46        S
10   0.25   PP 9549  0.032596    G6        S
11   0.00    113783  0.051822  C103        S

In [20]:
from sklearn.preprocessing import StandardScaler

numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns

scaler = StandardScaler()

df_scaled = scaler.fit_transform(df[numeric_columns])

df_scaled_df = pd.DataFrame(df_scaled, columns=numeric_columns)

df_scaled_df.head()

   PassengerId  Survived    Pclass       Age     SibSp     Parch      Fare
0    -1.820641  0.712364 -0.375823 -0.070535  0.881589 -0.603158 -0.064633
1    -1.812612  0.712364 -0.375823 -0.070535  0.881589 -0.603158 -0.308460
2    -1.800568 -1.403776 -0.375823 -0.070535 -0.708420 -0.603158 -0.325054
3    -1.784509  0.712364  3.419989 -0.070535  0.881589  0.765807 -0.796561
4    -1.780494  0.712364 -0.375823 -0.070535 -0.708420 -0.603158 -0.664479